body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {

    background-image: url('banner2.png');
            background-size: cover;
            background-position: center;
            padding: 20px;
            
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color:rgba(36, 36, 36, 1);
    color: white;
}
#logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgba(128, 128, 128, 0)
}
#search-bar {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
}
#banner {
    background-color: rgba(20, 49, 84, 1);
    color: white;
    padding: 50px;
    text-align: center;
    width: 100%;
}

#carousel {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 100px;
    padding: 50px;
    background-color:  rgb(26, 75, 136);
}

.carousel-item {
    flex: 0 0 auto;
    background-color: rgb(65, 115, 161);
    padding: 5px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 200px;
}

.carousel-item:hover{
    animation-name: stretch;
    animation-duration: 3.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}

@keyframes stretch {
    0% {
      transform: scale(1);
      /* background-color: #04AA6D; */
      border-radius: 0%;
    }
    50% {
      /* background-color: #97aa04; */
      border-radius: 50%;
    }
    100% {
      transform: scale(1.5);
      /* background-color: #aa0404; */
      border-radius: 100%;
    }
  }

  /* Media queries for responsiveness */
@media screen and (max-width: 700px) {

    
    #carousel {
        flex-direction: column;
    }

}

@media screen and (max-width: 300px) {

    
    #carousel {
        flex-direction: row;
        width: 300px;
        
    }



}




/* @media (max-width: 600px) {

    
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    body {
        background-color: #e0f7fa;
    }
} */



.error-banner {
    display: none;
    background-color: red;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

